#intro {
    background-image: url("./images/newsky.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 20px;
    opacity: 1;
}

.main-row {
    width: 100%;

}

img {
    height: 60px;
    width: 60px;
}

button {
    width: 100%;
}

main {
    height: 878px;
}

.today {
    border: solid;
}

/* .form-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 9px;
    border-style: solid;
    border-radius: 10px;
} */

.card-overlay-today {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 9px;
    border-style: solid;
    border-radius: 10px;

}

.card-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 220px;
    padding: 9px;
    border-style: solid;
    border-radius: 10px;

}

.card-temp,
.card-forecastDate,
.card-title,
.card-humidity,
.card-wind {
    color: rgb(255, 255, 255, 1);

}

@media screen and (max-width: 923px) {

    main {
        height: auto;
    }
}

@media screen and (max-width: 710px) {
    #forecast-weather {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .card {
        margin-top: 5px;
    }

    main {
        height: auto;
    }
};